body {
    background-color: #0e1b25;
    color: #FFFFF0;
    font-family: Arial sans-serif;
}

.wrapper {
    display:  flex;
    margin: 5%;
    margin-top: 2%;
}

.wrapperForm {
    border: #1c364a solid;
    border-radius: 20px;
    padding: 1.5%;
}

.title {
    margin-left: 4%;
    margin-top: 2%;
    width: 350px;
    height: 25px;
    padding: 1.5%;
}

.inputInDown {
    margin-left: 20%;
    margin-top: 2%;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.down {
    display: flex;
    flex-direction: column;
    margin-top: 0.5%;
    margin-left: 5%;
    border: #1c364a solid;
    border-radius: 20px;
    padding: 1.5%;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

select {
    width: 310px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border: #1c364a solid;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    outline: none;
    background-color: #161a1e;

}

select {
    background-color: #161a1e;
    border: #1c364a solid;
    border-radius: 5px;
}

#registrationButton {
    padding: 10px;
    margin-top: 20px;
    background-color: #161a1e;
    color: white;
    border: #1c364a solid;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

#onAdd, #back {
    padding: 10px;
    margin-top: 10px;
    background-color: #161a1e;
    color: white;
    border: #1c364a solid;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

textarea {
    width: 500px;
}