body {
    background-color: #0e1b25;
}

p {
    color:  #FFFFF0;
    font-family: "Arial", sans-serif;
}

.in {
    display: flex;
    justify-content: center;
    border: 3px solid #FFFFF0;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 5%;
    height: 60%;
    width: 70%;
}

.welcome_text {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    padding: 10px;
}

.text {
    margin: 50px;
    height: 340px;
    background-color: #1c364a;
    border: 3px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttons #update, #data, #info, #registration {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    background-color: #161a1e;
    font-family: "Arial", sans-serif;
    cursor: pointer;
    border: #1c364a solid;
    border-radius: 5px;
}

.video-container {
    margin: 50px;
}

#text-block {
    border: 3px solid #FFFFF0;
    border-radius: 20px;
    width: 500px;
    height: 150px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
}
#text-block {
    display: none;
}